.book-card{
    height: auto;
    margin: 20px;
}

.custom-card-name{
    font-size: 20px;
    color: rgb(255, 166, 0);
}
.author-nd-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid aquamarine; */
    width: 100%;
}