.home-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-area{
    display: flex;
    justify-content: space-around;
}
.home-search{
    
    padding: 10px;
}

.custom-loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}