.custom-link{
    text-decoration: none;
    color: aliceblue;
}
.custom-link:hover{
    text-decoration: none;
    color: rgb(198, 228, 255);
}

.navbar-avatar{
    border-radius: 50%;
    width: 30px;
}